table {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

caption {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: #333;
    margin-bottom: 16px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}
thead {
    background-color: #ff702c;
    color: white;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 2%;
}
thead th {
    width: 25%;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}
tbody th {
    background-color: #36c;
    color: #fff;
    text-align: left;
}
tbody tr:nth-child(even) th {
    background-color: #25c;
}